
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-size: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);

}

a{
    text-decoration: none;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: rgb(252, 0, 0);

}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;

}


h3{
    font-size: 2rem;
}

