:root{
    --color1: #A3A656;
    --color2: #384001;
    --color3: #FFEFDF;
    --color4: #F2F6F6;

    --fuenteTitulo1: "Inter, Bold, 4.8rem";
    --fuenteTitulo2: "Inter, SemiBold, 3.2rem";
    --fuenteMiniatura: "Inter, Regular, 1.4rem";
    --fuenteMenu: "Inter, Regular, 1.6rem";
    --fuenteNormal: "Inter, Regular, 1.6rem";
    --fuentePlaceholder: "Inter, Regular, 1.6rem, #9E9A9A"
}

/*








p{
    font-size: 1.8rem;
    font-size: Arial, Helvetica, sans-serif;
}


*/


/*Header*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
    border: red solid 1px;
}

body{
    margin: 0;
}



.contenedorHeader{
    display: flex;
    background-color: var(--color1);
    margin: 0 auto;
    width: 100%;
    height: 7rem;
}
.contenedorHeader nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    padding-left: 70px;
    
}

.contenedorHeader nav a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color
}

.usuario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    
}




.usuario p{
    padding: 0 1rem;
}
